<li>

  <%=link_to "Task #{task.id} : #{task.name.capitalize}",task_path(task.id)%>

  <%= button_to "Delete", task_path(task),method: :delete,
        data:{ confirm: "Are you sure you want to delete the task #{task.name}"}%>

</li>
