<header>
  <h1>Get It Done</h1>
</header>

<main>
  <%= render partial: "form", locals: { submit_text: "Edit"} %>
</main>


<footer>
  <!-- using a view helper instead of html -->
  <%= link_to "Home", "/tasks" %>
  <!-- <a href='./'>Home</a> -->
</footer>
