<h1>Task List</h1>

<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task[:name], task_path(task.id) %> <%= link_to "Delete", task_path(task),
    data: {method: :delete, confirm: "Are you sure you want to delete the #{task.name}?"} %></li>
  <!-- <p><%= link_to "Delete", task_path(task), method: :delete %></p> -->
  <% end %>
</ul>

<%= link_to "Add Task to List", new_task_path %>
