<h1>ALL TASKS</h1>
<table>
  <thead>
    <td>
      TASK
    </td>
    <td>
      DUE DATE
    </td>
    <td>
      PRIORITY
    </td>
  </thead>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%=task[:title]%>
      </td>
      <td>
        <%=task[:duedate]%>
      </td>
      <td>
        <%=task[:priority]%>
      </td>
    </tr>
    <% end %>
</table>
