
<head>
  <title> TaskMaster </title>
  <link rel="stylesheet"type="text/css"href="https://fonts.googleapis.com/css?family=Muli|Raleway">
  <meta charset="UTF-8">
</head>
<body>

  <header class="Home">
    <h1>Task Master</h1>
  </header>

  <section class="task-list">
    <ul>
      <% @tasks.each do |task| %>
      <li>
        <% if task.due_date != nil %>
          <%= link_to task.title, task_path(task.id) %>
           <% else  %>

        <%= link_to task.title, task_path(task.id) %>
        <%= button_to "Task_Completed", completed_task_path(task.id), method: :patch %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </section>

  <p>
    <section class="task-list">
      <%= button_to "Add New Task", new_task_path, method: :get %>

    </section>
  </p>

</body>
