<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<h1>Tasks for this week</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= task.name %>
    <ul>
      <li class="description">
        <%= task.description %>
      </li>
      <li class="context">
        <%= task.context %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
