<h1>ALL TASKS</h1>


<ul id="all-one-line">
<% @tasks.each do |task| %>
  <li>
    <p>
      <%= link_to task.title, task_path(task.id) %>
    </p>
    <p>
      <%= button_to "delete task", task_delete_path(task.id), method: :delete %>
    </p>
  </li>

<% end %>
</ul>

<p><%= link_to "add new task", tasks_new_path %></p>
