<h1>List of tasks</h1>

<ul>
<% @tasks.each do |task| %>

<li>
  <%= link_to task.name, task_path(task.id) %>: <%= task.description %>
  Date completed: <%= task.completion_date %>
  <%= content_tag(:button,"Task Complete!", :type=> :submit)%>
</li>
<% end %>
</ul>

<a href="/tasks/new">Add a new task!</a>
