
<header>
  <!-- example of using image view helper -->
  <%= image_tag "https://openclipart.org/download/253846/1467299975.svg", alt: "image of check_mark" %>
  <!--<img src="https://openclipart.org/download/253846/1467299975.svg"> -->
  <h1>Task List</h1>
</header>
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->

<div>
<main>
  <nav>
    <p>
      <%= link_to "Add New Task", new_task_path %>
    </p>
    <!-- <p>Edit Task</p> -->
    <p>Delete Task</p>
  </nav>
  <section>
    <% @tasks.each_with_index do |task, index| %>

      <p>Todo <%=index +1%>: <%=link_to task[:name].capitalize, task_path(task.id) %></p>

    <% end %>
  </section>
</main>
</div>
