    <h1>Brenna's To Do List:</h1>
    <ul>
      <% Task.all.each do |task| %>
      <li>
        <h3><%= link_to task.name.upcase, task_path(task.id) %></h3>
        <p>
          <%= task.desc %>
        </p>
        <p>
          <% if task.complete != nil %>
            Completed on: <%= task.complete %>
          <% else %>
            Not done yet! Get on it!
          <% end %>
        </p>
      </li>
      <% end %>
    </ul>
