
<h3> Task List </h3>

<ul>
  <%@tasks.each do |task|%>
    <li>
      <%=link_to "Task #{task.id} : #{task.name.capitalize}",task_path(task.id)%>
      <%= link_to "Delete",task_path(task),method: :delete%>
      <%= button_to "Delete", task_path(task),method: :delete,
            data:{ confirm: "Are you sure you want to delete the task #{task.name}"}%>

    </li>
<%end%>
  </ul>
<h4> <%= link_to "add a new task", new_task_path%></h4
