<body>
  <h1> These are a list of tasks! </h1>
  <% @tasks.each do |task, id| %>
    <li>
      <%= link_to task[:name], task_path(task.id) %>
    </li>
  <% end %>
</body>
<footer>
  <%= link_to "Add more tasks!", task_new_path %>
</footer>
