<h1>Awesome To Do List</h1>
 <ul>
   <% @tasks.each do |task| %>
    <li> <%= render partial: "toggle-button", locals: { task: task } %>
          Task <%= task.id %>: <%= link_to task.name, task_path(task.id) %> </li>
   <% end %>
 </ul>

<%= link_to "Add Task", new_task_path %>
