
<h1>Task List</h1>
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->

<% @tasks.each_with_index do |task, index| %>

  <p>Task<%=index +1%>: <%= link_to task[:name], task_path(task.id) %></p>

<% end %>
