<h1>All My Tasks</h1>

<article class="main-list">

  <h2>TO DO</h2>
  <% @tasks.each do |task| %>
  <section class="task">
    <h3><%= link_to task.name, task_path(task.id) %></h3>
    <p>
      <%= task.description %>
    </p>
  </section>
  <% end %>

</article>

<%= link_to "Create New Task", new_task_path, class: "bottom-button" %>
