<main>

<section class="high">

<h4>You have some high priority tasks:</h4>
<ul class="task_list">
  <% @tasks.each do |task| %>
    <% if task.priority == "high" %>
      <li>
        <p><%= link_to task.name, task_path(task.id) %></p>
        <% if task.done %>
          <p >✔︎</p>
        <% else %>
          <p id="done"><%= link_to "done!", task_done_path(task.id), method: :patch %></p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
</section>

<section>
<h4>Your other tasks are not as urgent:</h4>
<ul class="task_list">
  <% @tasks.each do |task| %>
    <% if task.priority != "high" %>
    <li>
      <p><%= link_to task.name, task_path(task.id) %></p>
      <% if task.done %>
        <p>✔︎</p>
      <% else %>
        <p id="done"><%= link_to "done!", task_done_path(task.id), method: :patch %></p>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul>
</section>

</main>
