<body>
  <main>
    <h2> All the Things! </h2>
    <% @tasks.each do |task, id| %>
    <ol>
      <li>
        <%= link_to task[:name], task_path(task.id) %>
         Complete By: <%= task.completed_by %>
      </li>
    </ol>
    <% end %>
  </main>
</body>

<footer>
  <ul>
    <li><%= link_to "Add Task", task_new_path %></li>
    <li><%= link_to "Return Home", welcome_path %></li>
  </ul>
</footer>
