<h1>Tasks</h1>
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->

<% @tasks.each do |task| %>
  <p>Task: <%=task[:task] %></p>
  <ul>
    <li>Descrip: <%=task[:description] %></li>
    <li>Due Date: <%=task[:due_date]%></li>
  </ul>
<%end%>
