<main>

<section class="high">

<h4>You have some high priority tasks:</h4>
<ul>
  <% @tasks.each do |task| %>
    <% if task.priority == 1 %>
      <li><%= link_to task.name, task_path(task.id) %>
        <% if task.done %>
            ✔︎
        <% else %>
        <%= link_to "done", task_done_path(task.id), method: :patch %> </li>
          <% end %>
    <% end %>
  <% end %>
</ul>
</section>

<section>
<h4>Your other tasks are not as urgent:</h4>
<ul>
  <% @tasks.each do |task| %>
    <% if task.priority != 1 %>
    <li><%= link_to task.name, task_path(task.id) %>
      <% if task.done %>
          ✔︎
      <% else %>
      <%= link_to "done", task_done_path(task.id), method: :patch %> </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
</section>

</main>
