<h1>ALL TASKS</h1>


<table>
  <thead>
    <td>
      <h3>  TASK  </h3>
    </td>
    <td>
      <h3>  DUE DATE  </h3>
    </td>
    <td>
      <h3>  PRIORITY  </h3>
    </td>
  </thead>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%=task[:title]%>
      </td>
      <td>
        <%=task[:duedate]%>
      </td>
      <td>
        <%=task[:priority]%>
      </td>
    </tr>
    <% end %>
</table>
