<main>

<h3>welcome to your to-dos!</h4>

<h4>You have some high priority tasks:</h4>
<ul>
  <% @tasks.each do |task| %>
    <% if task.priority == 1 %>
      <li><%= link_to task.name, task_path(task.id) %> </li>
    <% end %>
  <% end %>
</ul>

<h4>The rest of your tasks are not as urgent</h4>
<ul>
  <% @tasks.each do |task| %>
    <% if task.priority != 1 %>
      <li><%= link_to task.name, task_path(task.id) %> </li>
    <% end %>
  <% end %>

</ul>
</main>
