<h1>ALL TASKS</h1>


  <% @tasks.each do |task| %>
  <ul id="all-one-line">

    <li>
      <%= link_to task.title, task_path(task.id) %>
      <%= button_to "delete task", task_delete_path(task.id), method: :delete %>
    </li>
  </ul>

  <% end %>

  <%= button_to "+", tasks_new_path, method: :get %>

<p></p>
