<h1>Tasks</h1>
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->

<% @tasks.each do |task| %>
  <p>Task: <%=task[:name] %></p>
  <ul>
    <li>Description: <%=task[:description] %></li>
    <li>Due Date: <%=task[:completed_at]%></li>
  </ul>
<%end%>
