<header>
  <a href="index.html"><h1>Task List</h1></a>
</header>
<main>
  <h2>An Easy Way to Keep Track of Everything You Need to do!</h2>
  <ul>
    <h4>
      <% @tasks.each do | task | %>
        <li>
          <h3>
            <%= link_to task.name.capitalize, task_path(task.id) %>
          </h3>
        </li>
      <% end %>
    </h4>
  </ul>
  <!-- <a href="new_task" class="button">Add Another Task!</a> -->
</main>
