<h2>You have the following tasks to complete:</h2>
<section id="task-list">
  <ul>
    <h4>
      <% @tasks.each do | task | %>
      <li>
        <h3 id="task-status">
          <% if task.complete == false %>
            <i class="fa fa-square-o"></i>
          <% else %>
            <i class="fa fa-check-square-o"></i>
          <% end %>
        </h3>
        <h3>
          <%= link_to task.name.capitalize, task_path(task.id), :id => "task-name" %>
          <%= link_to raw("&times;"), task_path(task.id), :id => "remove-task" %>
        </h3>
      </li>
      <% end %>
    </h4>
  </ul>
</section>

<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>&ensp;Add Task'.html_safe, new_task_path, :class => "button" %>
