
<h3> Task List </h3>

<ul>
  <%@tasks.each do |task|%>
    <li>
      <%=link_to "Task #{task.id}: #{task.name.capitalize}",task_path(task.id)%>
    </li>

    <%= link_to "add a new task", new_task_path%>
<%end%>
  </ul>
