<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<h4>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        To do: <%= task[:task] %> Priority: <%= task[:priority] %>
      </li>
    <% end %>
  </ul>
</h4>
