<h1>Tasks</h1>
<ul>
<% @tasks.each do |task| %>
    <li>
      <strong>
        <%= link_to task.name, task_path(task.id) %>
      </strong>
    <% if task.completion_date == nil %>
    <%= button_to "Mark Completed", complete_task_path(task.id), method: :get%>
    <% else %>
    completed at <%=task.completion_date %>
    <% end %>
    </li>
  <% end %>
<ul>
<h4><%= button_to "Add a New Thing", new_task_path, method: :get %></h4>
