<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %> (<%= task.description %>) by <%= task.deadline %>
      <% if task.completed %>
        &check;
      <% end %>
    </li>
  <% end %>
</ul>
