<body>
  <main>
    <h2> All the Things! </h2>
    <ol>
      <% @tasks.each do |t| %>
      <%= render partial: "task_summary", locals: { task: t} %>
      <%= button_to "Mark as Complete", charles_path(t), method: :patch %>
      <% end %>
    </ol>
  </main>
</body>

<footer>
  <ul>
    <li><%= link_to "Add Task", task_new_path %></li>
    <li><%= link_to "Return Home", welcome_path %></li>
  </ul>
</footer>
