<h1>Incomplete Tasks</h1>

<section class="index">
  <ul>
    <% @tasks.each do |task| %>
    <li>

      <%# if task.completion_date == nil %>
        <%= link_to "⬜️", complete_task_path(task.id), data: { confirm: "Is this task truely complete?" }, method: :patch %>
        <%= link_to task.name, task_path(task.id)%>

      <%# else %>
        <%#= "✔️" %>
      <%# end %>
    </li>
    <% end %>
  </ul>

  <p>
    <%= link_to "Add Task", new_task_path %>
  </p>
</section>
<%# NOTE: when you edit a task... it will rest the completion_dateand due date to nil. FIX THIS!%>
