<h1>Create New Task</h1>

<ul>

  <form class="" action="/tasks" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <li>
      <label for="name">Task Name</label>
      <input type="text" name="name" value="" id="name" />
    </li>
    <li>
      <label for="desc">Description</label>
      <input type="text" name="desc" value="" id="desc" />
    </li>

    <input type="submit" value="submit" />
  </form>

</ul>

<h4>
  <%= link_to "Home", tasks_path %>
</h4>
