<form action="/tasks" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


    <h1>Add a Task!</h1>
    <label for="name">Task Name</label>
    <input type="text" name="name" value="" id="name" />

    <label for="description">Task Description</label>
    <input type="test" name="description" value="" id="name" />

    <input type="submit" value="Submit" />


</form>
