<section class="container">
  <%= render partial: "header", locals: {zone: @zone} %>
  <article class="body">
    <h3>... new ...</h3>

    <%= render partial: "form", locals: {zone: @zone} %>

  </article>

  <%= render partial: "footer", locals: {zone: @zone} %>
</section>
