<%= render partial: "header", locals: {zone: @zone} %>
<body>
  <h3>... new ...</h3>

  <%= render partial: "form", locals: {zone: @zone} %>

  <h3><%= button_to "cancel", tasks_path, method: :get %></h3>
</body>

<%= render partial: "footer", locals: {zone: @zone} %>
