
<!-- the only way our html can interate with controller - who can then
talk to model who can create a new entry -->
<!-- is be including this code below - you will be copy and pasting it :) -->
<!-- line below first to understand:
going to send a post (HTTP verb) to /books (the URL) the controller action will
be #new (will have to create a new route soon) - so far only been doing get (HTTP verb) -->

<h1>New Task</h1>
<form action="/tasks" method="post" accept-charset="utf-8">
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM - something you copy/paste -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="name">Name</label>
  <!-- the name tag has to correspond to attribute (db heading), value has to correspond to db data type -->
  <input type="text" name="task[name]" value="" id="name">

  <label for="description">Description</label>
  <input type="text" name="task[description]" value="" id="description">

  <input type="submit" value="Submit">
</form>
