

<header>
  <h1>Add new task</h1>
</header>

<section class="form">
    <%= render partial: "form" %>
</section>

<footer class="form_footer">
  <p><%= link_to "[return to task listing]", tasks_path %></p>
</footer>
