<h2>Add New Task</h2>

<form action="/tasks" method="post">
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="name">Task: </label>
  <input type="text" name="name" id="name" placeholder="name of task">

  <label for="description">Description: </label>
  <input type="text" name="description" id="description" placeholder="describe the task">

  <label for="deadline">Must be completed by: </label>
  <input type="date" name="deadline" id="deadline">

  <label for="completed">Check if task is completed</label>
  <input type="checkbox" name="completed" id="completed">

  <input type="submit" value="Add New Task">
</form>
