<h3>Enter a New Task</h3>
<%= render partial: "form" %>

<!--WITHOUT HELPER:
<form action="/tasks" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <label for="name">Task Name</label>
    <input type="text" name="task[name]" value="" id="name">
  </p>
  <p>
    <label for="description">Description</label>
    <input type="text" name="task[description]" value="" id="description">
  </p>
  <p>
    <label for="description">Complete by</label>
    <input type="datetime-local" name="task[completion_date]" id="task" />
  </p>

  <input type="submit" value="Submit">
</form> -->
