<header>
  <h1>Task List</h1>
</header>
<main id="show">
  <h2><%= @show_task[:name].capitalize %></h2>
  <h4>DESCRIPTION:</h4>
  <p><%= @show_task[:description] %></p>
  <h4>COMPLETION DATE:</h4>
  <p><%= @show_task[:completion_date] %></p>
</main>
