<h1>Task</h1>
<h3><%= @task.name %></h3>
<p><%= @task.description %></p>

<% unless @task.completion_date.nil? %>
  <p>Completed: <%= @task.completion_date %></p>
<% end %>

<%= link_to "<<", tasks_path %>
