<h4>
    <%= link_to "Home", tasks_path %>
</h4>

<h1>
  <%= @this_task.name %>
</h1>
<p>
  <%= @this_task.desc %>
</p>
<p>
  <% if @this_task != nil %>
    Completed on: <%= @this_task.complete %>
  <% else %>
    Not done yet! Get on it!
  <% end %>
</p>
