<!-- <h1> should only show one task </h1> -->

<h1><%= @task[:name] %></h1>
<h2></h2>
  <ul>
    <li><div class="bold">Description:</div> <%= @task[:description] %></li>
    <li><div class="bold">Due Date:</div> <%= @task[:completed_at] %></li>
  </ul>

<footer>
<a href='./index'>Home</a>
</footer>
