<!-- <h1> should only show one task </h1> -->

<div><h1><img src="https://openclipart.org/download/253846/1467299975.svg">Todo: <%= @task[:name] %></h1></div>
  <ul>
    <li>Description: <%= @task[:description].capitalize %></li>
    <li>Complete By: <%= @task[:completed_at].strftime("%D - %l:%M %p") %></li>
  </ul>

<footer>
<a href='./index'>Home</a>
</footer>
