<h2>Current Task:</h2>
<ul>
    <li>Name: <%= @result_task.name %></li>
    <li>Description: <%= @result_task.description %></li>
    <li>Completion Date: <%= @result_task.completion_date %></li>
    <li>Completed:
    <% if @result_task.completed == false %>
          Not yet!
    <% else %>
          You are done!
    <% end %>
  </li>
</ul>
<%= link_to "Task list", tasks_path %>
