<head>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Nunito" rel="stylesheet">
</head>

<h1>Task Status</h1>

  <ul class = "status">
    <h2><%= @result_task[:title] %></h2>
      <li><%= @result_task[:description] %></li>
      <li>Status: <%= @result_task[:completion] %></li>
  </ul>

  <a href="/tasks" id="status_link">Back to Tasks List</a>
