<h2>Tamiko's Time-sensitive Tasks</h2>

<div>
  <%= image_tag "banner.png", alt: "inpirational quote"  %>
</div>

<section class="centered">
  <p>Welcome!</p>
  <button><%= link_to "see all tasks", tasks_path %></button></li>
  <br  />
  <button><%= link_to "add a new task", new_task_path %></button>
</section>
