<h1 id = "welcome_header">Welcome!</h1>

<div id = "welcome_box1">
  <p>
    This is the welcome page for the rails project TaskList.
  </p>

  <div>
    <%=link_to "List of all tasks", tasks_path %>
  </div>
</div>
