
<main id = "welcome_main">
  <h1 id = "welcome_h1">Welcome!</h1>

  <div id = "welcome_box1">
    <p>
      This is the welcome page for the rails project TaskList.
    </p>

    <div>
      <%=link_to "To the list", tasks_path %>
    </div>
  </div>
</main>
