/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   width: 90%;
   max-width: 800px;
   margin: auto;
 }

 ul {
   padding: 0;
 }

 li {
   list-style-type: none;
   font-size: 1.5em;
 }

 li a:first-child {
   margin-right: 3px;
   color: #000;
 }

 li a:first-child:hover {
   text-shadow: 0 0 6px rgba(35, 173, 255, 1);
 }

 li a + a {
   color: #000;
 }

 li a + a:hover {
   color: #808080;
 }

 header {
   background: orange;
   padding: 2%;
 }

 header h1 a {
   color: #fff;
   margin: 0;
   transition: all 0.5s;
 }

 header h1 a:hover {
   color: #ffe14f;
 }

 a {
   text-decoration: none;
 }

 form {
   width: 95%;
   max-width: 500px;
   padding: 10px;
   border: dashed #ccc 1px;
   border-radius: 10px;
 }

 form * {
   margin: 2%;
 }

 input[type="text"] {
   height: 20px;
 }

 form label + * {
   border: solid #ccc 1px;
   border-radius: 5px;
 }

 input:focus, textarea:focus {
   outline: none;
   background: #eee;
 }

 input[type="text"], textarea {
   width: 95%;
   display: block;
 }

 textarea {
   height: 100px;
 }

 input[type="submit"] {
   display: block;
   width: 80%;
   max-width: 200px;
   margin: auto;
   padding: 4px;
   border-width: 1px;
   border-radius: 5px;
 }

 input[type="submit"]:active, input[type="submit"]:focus {
   // border-radius: 5px;
   // border-width: 1px;
 }
