// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body {
  background: linear-gradient(to right,#6190E8,#A7BFE8);
  color: white;
  margin-left: 70px;
  font-family: "Baloo Bhaina"
}

.button {
  width: 100px;
  color: white;
  background-color: #6217C4
}

.add-button {

  margin-left: 60px;
  margin-top: 70px;

}

.name {
  margin-left: 50px;
}

input {
  // background-color: #6217C4
}

.description {
  margin-left: 9px;

}

.completion_date {

  margin-left: -25px;

}

a {
  color: white;
  text-decoration: none;


}

h1 {
  color: #52F4FF;
  margin-left:70px;

}

h2 {
  margin-left:70px;

}
p {
  margin-left:70px;

}

table {
  margin-left: 60px;
  border: .2em dashed black;

}
th {
  color:#C317C4;
   font-size: 1.1em;

}

td {
  padding: 20px;
  text-align: center;
}

tr {
  border: .2em dashd black;


}

li {
  list-style: none;
  line-height: 30px;

}
