/*// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#welcome_main {
  position: relative;
  margin-top: 100px;
  padding: 15px;
  color; #0B3C5D;
}

#welcome_h1 {
  text-align: center;
}

#welcome_box1{
  position: relative;
}

#welcome_box1 p {
  display: inline-block;
}

#welcome_box1 div {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}
