<!DOCTYPE html>
<html>
  <head>
    <title>Ting's Things</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h1> Ting's Things (to do) </h1> </header>
    <%= yield %>
  </body>
</html>
