<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
      <h1>most maginificent task list</h1>
    </header>
    <%= yield %>
  </body>
</html>
